/* ==================== LAYOUT SECTION ================ */
body{
    background: #9c9f84;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
#header{
    background: #5c755e;
    margin: 10px;
    height: 90px;
    border-radius:5px ;
}
#navbar ul{
    background: #000;
    margin: 10px;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    height : 30px;
}
#navbar ul li{
    display: inline;
}
#navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    padding: .2em 1em;
    font-size: 25px;
}
#navbar ul li a:hover{
    color: #000;
    background-color: #fff;
}
.main{
    background: #e5e4d7;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 320px;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
}

.sideright{
    background: #e5e4d7;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 105%;
    float: right;
    width: 260px;
    clear: right;
}
.imgside{
    
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    float: right;
    width: 300px;
    clear: right;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.imgside:hover{
    opacity: 0.4;
}
#footer{
    background: #5c755e;
    margin: 10px;
    height: 60px;
    clear: both;
    border-radius: 5px;
    color: #efe5d0;
    font-size: 90%;
    text-align: center;
    padding: 15px;
}
#footer ul{
    list-style-type: none;
    padding : 5px;
    text-align: center;
    margin: 10px;
}
#footer ul li{
    display: inline;
}
#footer ul li a{
    text-decoration: none;
    color: #efe5d0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5c755e;
    padding: .2em 1em;
    font-size: 25px;
}
#footer ul li a:hover{
    color: #000;
    background-color: #fff;
}
/* ==================== HEADING SECTION ================ */
h1{
    font: 120%;
    color: #ce282c;
}
h2{
    font: 120%;
    color: darkblue;
}
h3{
    font-size: 250%;
    text-align: center;
    color: #e5e4d7;
    font-family: 'Century Gothic','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

